In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#read data from CSV file
file_link = 'https://drive.google.com/file/d/1pE9YLv0JoHXB8adrDPRnEhipaSv68bap/view'

# get the id part of the file
id = file_link.split("/")[-2]

# creating a new link using the id for better readability of csv file in pandas
new_link = f'https://drive.google.com/uc?id={id}'
df = pd.read_csv(new_link)
df.shape
# df.count()
# df['Class'].value_counts()
# df.tail()

(1199, 14)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1199 entries, 0 to 1198
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      1198 non-null   float64
 1   person_gender                   1192 non-null   object
 2   person_education                1182 non-null   object
 3   person_income                   1182 non-null   float64
 4   person_emp_exp                  1195 non-null   float64
 5   person_home_ownership           1195 non-null   object
 6   loan_amnt                       1188 non-null   float64
 7   loan_intent                     1173 non-null   object
 8   loan_int_rate                   1190 non-null   float64
 9   loan_percent_income             1187 non-null   float64
 10  cb_person_cred_hist_length      1192 non-null   float64
 11  credit_score                    1189 non-null   float64
 12  previous_loan_defaults_on_file  1190 non-null   object
 13  loan_status                     1199 non-null   int64
dtypes: float64(8), int64(1), object(5)
memory usage: 131.3+ KB

In [8]:
df.dtypes

person_age                        float64
person_gender                      object
person_education                   object
person_income                     float64
person_emp_exp                    float64
person_home_ownership              object
loan_amnt                         float64
loan_intent                        object
loan_int_rate                     float64
loan_percent_income               float64
cb_person_cred_hist_length        float64
credit_score                      float64
previous_loan_defaults_on_file     object
loan_status                         int64
dtype: object

In [10]:
df.isnull().sum()

person_age                         1
person_gender                      7
person_education                  17
person_income                     17
person_emp_exp                     4
person_home_ownership              4
loan_amnt                         11
loan_intent                       26
loan_int_rate                      9
loan_percent_income               12
cb_person_cred_hist_length         7
credit_score                      10
previous_loan_defaults_on_file     9
loan_status                        0
dtype: int64

In [21]:
df = df.dropna()
df.shape

(1097, 14)

In [24]:
df.drop_duplicates()
df.shape

(1097, 14)

In [23]:
# check categorical and numerical columns
cat_cols=df.select_dtypes(include=['object']).columns.tolist()
num_cols = df.select_dtypes(include=np.number).columns.tolist()
print("Categorical Variables:")
print(cat_cols)
print("Numerical Variables:")
print(num_cols)

Categorical Variables:
['person_gender', 'person_education', 'person_home_ownership', 'loan_intent', 'previous_loan_defaults_on_file']
Numerical Variables:
['person_age', 'person_income', 'person_emp_exp', 'loan_amnt', 'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length', 'credit_score', 'loan_status']

In [26]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for col in cat_cols:
    df[col] = le.fit_transform(df[col])

df.head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,0,4,71948.0,0.0,3,35000.0,4,16.02,0.49,3.0,561.0,0,1
2,25.0,0,3,12438.0,3.0,0,5500.0,3,12.87,0.44,3.0,635.0,0,1
4,24.0,1,4,66135.0,1.0,3,35000.0,3,14.27,0.53,4.0,586.0,0,1
7,24.0,0,3,95550.0,5.0,3,35000.0,3,11.11,0.37,4.0,585.0,0,1
8,24.0,0,0,100684.0,3.0,3,35000.0,4,8.90,0.35,2.0,544.0,0,1

In [28]:
df.dtypes

person_age                        float64
person_gender                       int64
person_education                    int64
person_income                     float64
person_emp_exp                    float64
person_home_ownership               int64
loan_amnt                         float64
loan_intent                         int64
loan_int_rate                     float64
loan_percent_income               float64
cb_person_cred_hist_length        float64
credit_score                      float64
previous_loan_defaults_on_file      int64
loan_status                         int64
dtype: object

In [29]:
cat_cols=df.select_dtypes(include=['object']).columns.tolist()
num_cols = df.select_dtypes(include=np.number).columns.tolist()
print("Categorical Variables:")
print(cat_cols)
print("Numerical Variables:")
print(num_cols)

Categorical Variables:
[]
Numerical Variables:
['person_age', 'person_gender', 'person_education', 'person_income', 'person_emp_exp', 'person_home_ownership', 'loan_amnt', 'loan_intent', 'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length', 'credit_score', 'previous_loan_defaults_on_file', 'loan_status']

In [30]:
feature_df = df[['person_age', 'person_gender', 'person_education', 'person_income', 'person_emp_exp', 'person_home_ownership', 'loan_amnt', 'loan_intent', 'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length', 'credit_score', 'previous_loan_defaults_on_file']]
X = np.asarray(feature_df)
y = np.asarray(df['loan_status'])

X[0:3]
y[0:3]

array([1, 1, 1])

In [31]:
#train/test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=4)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(877, 13) (877,)
(220, 13) (220,)

In [34]:
#modeling using SVM
# know more about kernels: https://scikit-learn.org/1.5/modules/generated/sklearn.svm.SVC.html
from sklearn import svm

classifier = svm.SVC(kernel='linear', C=2) #default value of kernel is 'rbf'
classifier.fit(X_train, y_train)
y_predict = classifier.predict(X_test)

In [36]:
#result comparison
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_predict))

0.8090909090909091